.dine-type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dine-type-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dine-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E00751;
    color: #ffffff;
    font-size: 2rem;
    min-width: 10rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}